<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/order.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <form class="container" id="bigBox">
      <div id="box_1" class="draggable">Box 1</div>
      <div id="box_2" class="draggable">Box 2</div>
      <div id="box_3" class="draggable">Box 3</div>
      <div id="box_4" class="draggable">Box 4</div>
      <div id="box_5" class="draggable">Box 5</div>
      <div id="box_6" class="draggable">Box 6</div>
      <div id="box_7" class="draggable">Box 7</div>

    </form>

  </body>
</html>
