<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superfun Polls - Home Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  </head>

  <body>
    <header class="homepage-title">
      <h1>Superfun Poll App</h1>
    </header>
    <main class="homepage-container">
      <a href="/new">Create Now</a>
    </main>
  </body>
</html>
