<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Links</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">


    <!-- External JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/links.css" type="text/css" />

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/client.js"></script>

  </head>
  <body>
    <header class="linkspage-title">
      <h1 class="linkspage-title">Hope you had fun!</h1>
      <a class="new-poll-link" href="/new">Make a new poll</a>
    </header>
    <main class="linkspage-container">
      <div class="links">
        <p>Check the results: <a href="/my/<%= adminLink %>"> localhost:8080/my/<%= adminLink %></a></p>
        <p >Share with your friends: <a id="item-to-copy" href="/<%= userLink %>"> localhost:8080/<%= userLink %></a></p>
      </div>
      <div class="botton">
      <button class="linkspage-button" onclick="copy('#item-to-copy')">Copy and share</button>
      </div>
    </main>
  </body>
</html>
