<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Links</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- App CSS -->
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->

  </head>
  <body>
    <header class="linkspage-title">
      <h1>Hope you had fun!</h1>
    </header>
    <main class="linkspage-container">
      <p>Question: <%= question %></p>
      <p>Share the poll with your friends: http://localhost:8080/<%= userLink %></p>
      <p>Check the poll results here: http://localhost:8080/my/<%= adminLink %></p>
      <a href="/new"><button class="linkspage-button">Make another poll</button></a>
    </main>
  </body>
</html>
