<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Poll</title>

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>

    <!-- App JS -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/client.js"></script>

  </head>
  <body>
    <form class="create-poll" method="POST" action="/">
      <div class="form-group row">
        <label for="inputNewQuestion" class="col-sm-2 col-form-label">Question</label>
        <div class="">
          <input type="text" class="form-control form-control-lg" name="inputNewQuestion">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputOpt1" class="col-sm-2 col-form-label">Option 1</label>
        <div class="">
          <input type="text" class="form-control" name="inputOpt1">
        </div>
        <label for="inputOpt1Descript" class="col-sm-2 col-form-label">Description</label>
        <div class="">
          <input type="text" class="form-control form-control-sm" name="inputOpt1Descript" placeholder="optional">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputOpt2" class="col-sm-2 col-form-label">Option 2</label>
        <div class="">
          <input type="text" class="form-control" name="inputOpt2">
        </div>
        <label for="inputOpt2Descript" class="col-sm-2 col-form-label">Description</label>
        <div class="">
          <input type="text" class="form-control form-control-sm" name="inputOpt2Descript" placeholder="optional">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputOpt3" class="col-sm-2 col-form-label">Option 3</label>
        <div class="">
          <input type="text" class="form-control" name="inputOpt3" placeholder="optional">
        </div>
        <label for="inputOpt3Descript" class="col-sm-2 col-form-label">Description</label>
        <div class="">
          <input type="text" class="form-control form-control-sm" name="inputOpt3Descript" placeholder="optional">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputOpt4" class="col-sm-2 col-form-label">Option 4</label>
        <div class="">
          <input type="text" class="form-control" name="inputOpt4" placeholder="optional">
        </div>
        <label for="inputOpt4Descript" class="col-sm-2 col-form-label">Description</label>
        <div class="">
          <input type="text" class="form-control form-control-sm" name="inputOpt4Descript" placeholder="optional">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputOpt5" class="col-sm-2 col-form-label">Option 5</label>
        <div class="">
          <input type="text" class="form-control" name="inputOpt5" placeholder="optional">
        </div>
        <label for="inputOptio52Descript" class="col-sm-2 col-form-label">Description</label>
        <div class="">
          <input type="text" class="form-control form-control-sm" name="inputOpt5Descript" placeholder="optional">
        </div>
      </div>
      <div class="form-group row">
        <input class="form-check-input" type="checkbox" value="anonymous" name="anonymousCheck">
        <label class="form-check-label" for="anonymousCheck">
          Anonymous poll?
        </label>
      </div>
      <div class="form-group row emailValidation">
        <label for="inputEmail" class="col-sm-2 col-form-label">Enter your email</label>
        <div class="">
          <input type="email" class="form-control form-control-lg" name="inputEmail">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary newPollSubmitButton" data-toggle="tooltip" disabled="disabled">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>
