
body {
  color: #ffa31a;
  background-color: #1b1b1b;
  font-size: 24px;
  font-family: Lora, Source Sans Pro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  header {
    margin-top: 180px;
    margin-bottom: 50px;
  }
  a {
    color: #fff;
    background-color: #1b1b1b;
  }
}
