// See: https://sass-lang.com/

body {
  // background-color: #EEE;
  width: 100%;
  color: #fff;
  background-color: #1b1b1b;
  font-family: Lora, Source Sans Pro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 6%;

  header {
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    // font-family: inherit;
    color: #ffa31a;
  }
  //   color: #244751;
  // }

  a {
    font-size: 2em;
    width: 100%;
    color: #fff;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
  }

  @media only screen and (min-width: 420px) {
    body {
      margin-top: 150px;
      h1 {
        font-size: 36px;
      }
      a {
        font-size: 24px;
      }
    }

  }


}


