// See: https://sass-lang.com/

body {
  width: 100%;
  color: #fff;
  background-color: #1b1b1b;
  font-family: Lato, Source Sans Pro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 6%;

  h1.homepage-title {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: inherit;
    color: yellow;
    text-shadow: 2px 2px 5px #9ecaed;
    font-weight: bolder;
    letter-spacing: 1.5px;
  }

  a {
    font-size: 2em;
    width: 100%;
    color: #fff;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
  }

  @media only screen and (min-width: 420px) {
    body {
      margin-top: 150px;

      h1.homepage-title {
        font-size: 36px;
      }
      h1 {
        font-size: 36px;
      }
      a {
        font-size: 24px;
      }
    }
  }
}


