
body {
  color: #C0C0C0;
  background-color: #1b1b1b;
  font-family: Lato, Source Sans Pro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;

  header {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 8vw;
      font-weight: bold;
      color: #ffa31a;
    }

    a.new-poll-link {
      font-size: 6vw;
      color: #C0C0C0;
      background-color: #1b1b1b;
    }
    a.new-poll-link:hover {
      color: #fff;
      text-decoration: none;
    }

    a.new-poll-link:active {
      transform: translateY(2px);
    }
  }

  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    line-height: 2;

    div.links {
      width: 100%;
      word-wrap: break-word;

      a {
        color: #C0C0C0;
        background-color: #1b1b1b;
      }
      a:hover {
        color: #fff;
        background-color: #1b1b1b;
        text-decoration: none;
      }
    }

    div.botton {
      width: 100%;
    }

    button.linkspage-button {
      width: 100%;
      background-color:  #1b1b1b;
      color: #C0C0C0;
      border: 0;
      border-radius: 5px;
      box-shadow: 0 0 10px #9ecaed;
      margin-top: 10px;
    }

    button.linkspage-button:hover {
      color: #fff;
      box-shadow: 0 0 10px #ffca7c;
    }

    button.linkspage-button:active {
      outline:none !important;
      transform: translateY(2px);
    }

  }

}

@media only screen and (min-width: 420px) {
  body {
    margin-top: 150px;

    h1.linkspage-title {
      font-size: 36px;
    }
    header a.new-poll-link {
      font-size: 24px;
    }

    main div.links {
      width: 390px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    main div.botton {
      width: 390px;
    }

  }

}
