
body {
  width: 100%;
  color: #C0C0C0;
  background-color: #1b1b1b;
  font-family: Lato, Source Sans Pro;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 6%;

  header {
    h1 {
    color: yellow;
    font-size: 8vw;
    font-weight: bolder;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 5px #9ecaed;
    }

    h1:hover {
      color: #ff1f8f;
    }
  }
  form {
    width: 80%;
    line-height: 3;

    div.element {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }

  label.col-form-label {
    width: 100%;
  }

  div.form:hover label.col-form-label {
    color: #fff;
  }
  div.form:hover label.form-check-label{
    color: #fff;
  }

  input.form-control {
    width: 100%;
    background-color: #1b1b1b;
    color: #fff;
    border: 0;
    box-shadow: 0 0 10px #9ecaed;
  }

  input.form-control:hover {
    box-shadow: 0 0 10px #ffffe0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
  }

  div.form-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button.newPollSubmitButton {
      width: 100%;
      color: #C0C0C0;
      font-size: large;
      letter-spacing: 1px;
      background-color: yellow;
      border: 0;
      margin-top: 10px;
      font-weight: bold;
    }

    button:hover {
      color: #1b1b1b;
      background-color: yellow !important;
    }

    button.newPollSubmitButton:focus {
      outline: 0 !important;
    }

    button.newPollSubmitButton:active {
      transform: translateY(2px);
    }
  }



}

@media only screen and (min-width: 600px) {
  body {
    header > h1 {
      font-size: 60px;
    }
  }
}
