body {
  background-color: #1b1b1b;

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: silver;
  font-family: Lato, Source Sans Pro;

  header {
    display: flex;
    flex-flow: column;
    align-items: center;
    h1 {
        color: white;
        font-family: 'Lato', sans-serif;
    }
    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 40px;
      color: yellow;
    }
  }


  main {
    padding: 0.25em;
    font-family: 'Source Sans Pro', sans-serif;
    width: 95%;

    height: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    ol {
      width: 80%;

      .option {
        list-style-position: inside;
        width: 100%;
        background-color: #000000;
        background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
        color: #fff;
        border: 2px solid #1b1b1b;
        border-radius: 25px;
        box-shadow: 0 0 5px #ffffe0;
        margin: 2em 0em;
        padding: 1em;
        flex-shrink: 1;
        text-align: center;




        .option-description {
          display: none;
          font-size: 1.5em;
        }
          &:hover {
            box-shadow: 0 0 10px #ffffe0;

            .option-title {
              color: white;

            }
            .option-description {
              display: block;
            }
          }

      }

    }
    input {
      margin: 1em;
      width: 40%;
      box-shadow: 0 0 5px #ffffe0;
      background-color: #1b1b1b;
      &:hover {
        box-shadow: 0 0 10px #ffffe0;
      }
    }
    button {
      width: 200px;
      color: #C0C0C0;
      background-color: #1b1b1b;
      border: 0;
      margin-top: 10px;
      font-weight: bold;
      box-shadow: 0 0 5px #ffffe0;
      &:hover {
        box-shadow: 0 0 10px #ffffe0;
        color: #1b1b1b;
      background-color: yellow !important;
      }
    }
  }

}
