// Style for result.ejs template

main.result-container {
    font-size: 1.25em;

    h1.question {
      text-align: center;
    }

    h3.error-message {
      text-align: center;
    }

    div.list-group-container {
      border: 7px solid white;
      margin: 5%;
      box-shadow: 0 0 10px #9ecaed;
    }

    #item-0, #item-1, #item-2, #item-3, #item-4 {
      border-style: none;
      background-color: inherit;
    }

    #first-0, #first-1, #first-2, #first-3, #first-4 {
      display: none;
      border-style: none;
      background-color: inherit;

    }

    div.list-group-container:hover {
      #first-0,  #first-1, #first-2, #first-3, #first-4  {
        display: block;
        border-top: none;
      }
    }
}


